body {
  color: #49525B;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
}
p {
  color: #49525B;
  padding: 5px 0;
}
header {
  padding: 80px 0 30px;
}
section {
  padding: 70px 0;
}
.navbar-nav {
  text-transform:uppercase;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.4em;
}
.nav-link {
 /* font-weight: bold; */
  color: #DBD7DB !important;
}
.navbar-brand img {
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
}
.sidebar-searh {
  flex: 1 1 auto;
  padding: 0 0 1em 0;
}
.sidebar-title {
  padding: 0em 0 0.5em 0;
  text-transform:uppercase;
}
.post-title {
  padding-top: 1em;
}
.post-full-title {
  padding-top: 0;
}
.posts p {
  padding: 5px 0;
}
.data-time {
  font-weight: 300;
}
.lead {
  color: #FFFFFF;
}

/* Filter */

.filter-dorogi {
  padding: 10px;
}
.filter-dorogi .dropdown-menu {
  background: #95a5a6;
}

.filter-dorogi-select {
  height: 30px;
}

.filter-list {
  background: #95a5a6;
}
.btn-filter-sub {
  margin-top: 10px;
  /*padding: 10px;  */
}

/* END Filter */

/* Incidents */

.incident-adress {
  font-size: 1.4em;
}
.incident-data {
  font-size: 1.4em;
}
.readmore {
  font-size: 1em;
}

/* END Incidents */

/* Pagination */

.pagination {
  margin:0 auto;
  text-align:center;
  padding:24px 0 24px 0;
}
.pagination li {
  display:inline;
  color:#fff;
  text-shadow: 0 1px 1px #eee;
}
.pagination li span {
  letter-spacing:0.1em;
  margin:0 6px;
}
.pagination li a {
  background:#007BFF;
  color:#fff;
  border:1px solid #007BFF;
  padding:10px 12px;
  text-decoration:none;
  -moz-border-radius: 6px;
  border-radius: 3px;
  text-shadow: 0 1px 1px #eee;
  margin:0 3px;
}
.pagination li a:hover {
  background:white;
  color: #303438;
}
.pagination li a:active {
  background:white;
  border:none;
  color: #303438;
  font-weight: bolder;
}
.pagination li.active a {
  background:white;
  border:none;
  color: #303438;
  font-weight: bolder;
}
.pagination li .titik{
  color:#303438;
  font-weight: bolder;
}
.pagination li.symbol a{
  font-weight: bolder;
  font-size: 16pt;
  margin-top: 10px;
  /*padding:5px 12px 8px 12px;*/
}
.pagination li.disabled{
  display: none;
  visibility: hidden;
}

/* END Pagination */

/* Button TOP */

#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../img/ui.totop.png) no-repeat left top;
}
#toTopHover {
  background:url(../img/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus {
  outline:none;
}

/* END Button TOP */

.img-thumbnail {
  height: 200px;
  margin: 10px;
}

@media (min-width: 992px) {
  header {
    padding: 80px 0 30px;
  }
}
